*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#container{
    text-align: center;
}
#gameBoard{
    border: 2px solid #355b5e;
}
#scoreText{
    font-size: 100px;
    font-family:'Courier New', Courier, monospace ;
}
#resetBtn{
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: 5px solid;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace ;
}